{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container" style="margin: 1em;">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h2>{% trans "Sign In" %}</h2>


      <p>{% blocktrans %} If you do not have an account feel free
        to <a class="btn sign-up-btn" href="{{ signup_url }}">Sign up</a> and interact with our
        community{% endblocktrans %}</p>

    </div>
  </div>
  <div class="row sign-in">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn signin-btn right" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
