@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:wght@200&family=Roboto+Slab:wght@200&display=swap');

/* Aboreto is going to be used for title and smaller heading */
/* Montserrat for details and other descriptions*/
/* Roboto Slab - Spirit Names - Rum, Vodka, Gin etc*/

/* Header and Nav bar*/

h1{
    font-family: Aboreto, Helvetica;
}

nav {
    font-size: larger;
}

.navbar-brand {
    font-size: x-large;
}

body {
    height: 100vh;
    position: relative;
}

/* Footer */

h3 {
    font-family: Aboreto, Helvetica
}

.socials, .copyright {
    text-align: center;
    font-family: Montserrat, Arial;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


footer a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    transition: all 500ms;
}

footer a:hover {
    font-size:20px;
    font-size-adjust: 10px;
    color: red;
}

/* Index styles */

.right-div, .left-div {
    text-align: center;
    padding: 20px;
    background-color: rgb(245, 237, 237);

}

p {
    font-family: Montserrat, Arial;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    color: white;
    text-align: center;

 }
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    color: white;
    text-align: center;
 }

 .hero-signup {
    text-align: center;
 }

 .featured-image-left {
    display: inline-block;
    height:100px;
 }

 .featured-image-right {
    display: inline-block;
    float: right;
    height:200px;
 }

.image-left {
    height:200px;
    width:100%;
    object-fit: cover;

}

.image-right {
    height:300px;
    width:100%;
    object-fit: cover;

}
 /* Bug 2 solved */
.hero-image{
    object-fit: cover;
    width: 100%;
}

/* Explore page */

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: red;
}

.author {
    color: black;
    margin: 4px;
    font-family: Montserrat;
    opacity: 0.6;
}

.card {
    border: none;
    background-color: transparent;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.spirit_name, h2 {
    font-family: Roboto Slab, sans-serif;
}

/* drinks detail css */

.masthead-text {
    text-align: center;
    padding: 10px
}

.card-horizontal {
    width: 100%;
    align-items: flex-end;
    color: black;
}

.instructions {
    background-color: rgb(247, 242, 242);
}

.comment-icon {
    padding-left: 1.5rem;
    margin: 0.2rem;
}

/* Sign in page */

.sign-in {
    padding-bottom: 40px;
}

.btn {
    font-family: Roboto Slab, sans-serif;
}
.sign-up-btn {
    color: black;
    background-color: white;
    border-color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Roboto Slab, sans-serif;
}

.sign-up-btn:hover {
    color: white;
    background-color: rgb(217, 21, 21);
}

.signin-btn {
    color: white;
    background-color: black;
}

.signin-btn:hover {
    color: black;
    background-color: white;
    border-color: black;
}

/* Sign up form */

form {
    width: 60%;
}

label {
    margin-bottom: 10px;
}

input {
    float: right;
    margin-bottom: 10px;

}

#id_remember {
    float:none;
}

/* User post drinks */

.user-post-drink {
    display: grid;
}

.user-post-drink button {
    margin: 10px;
}
