{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}


<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="d-sm-block d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://i.pinimg.com/originals/40/bb/da/40bbdae48736e60a99baea17c8dad691.jpg" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
            <div class="col-md-6 masthead-text ">
                <h1 class="post-title">{{ post.title }}</h1>
                <hr class="card-horizontal">
                <h5 class="spirit_name">{{ post.spirit }}</h5>
                <hr class="card-horizontal">
                <p class="card-text ">
                    {{ post.ingredients | safe }}
                </p>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body instructions">
                <p class="card-text ">
                    {{ post.instructions | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}

                            <span class="text-secondary"> {{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1 comment-icon">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'edit_drinks' post.pk %}" class=" edit-button post-link">Edit</a>
    {% endif %}
    {% endif %}
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold"> 
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>  wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- User Comment area -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}