{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2" style="margin-bottom: 2em">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="edit-title">Edit your Post: </h1>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-dark" style="margin-top: 1em;">UPDATE</button>
            </form>
            </br>
            <a href="{% url 'delete_drinks' pk %}" class="delete-button post-link">Delete</a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}