{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<h1>EDIT PAGE</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="edit-title">Edit your Post: </h1>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-dark">UPDATE</button>
            </form>
            </br>
            <a href="{% url 'delete_drinks' pk %}" class="btn btn-danger post-link">Delete</a>

            <!-- {% if user.id == post.author.id %}
                <a href="#" class="btn btn-danger post-link">Delete</a> -->
            <!-- {% endif %} -->
        </div>
    </div>
</div>
{% endif %}

{% endblock %}