{% extends 'base.html' %}

{% block content %}
<!-- Hero image -->

<div class="row-12">
    <img src="https://res.cloudinary.com/dvzlcfpp8/image/upload/v1660822172/cocktailz-images/hero_image_cocktail_hwqzcu.jpg" class="img-fluid" alt="Cocktail Hero image">
    <!-- <button class="float-right">Register Now!</button> -->
</div>

<!-- info about the website -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 left-div">
            <h3>- What is 'Cocktailz' -</h3>
            <p>Cocktailz is a website where you can discover all types off cocktailz,
                you can see the list of 'Cocktailz' in the 'Explore' section of the
                webpage, to view the drink and its ingredients you simply click on it
                and the ingredients and steps to make the drinks can be viewed.
            </p>
        </div>
        <div class="col-sm-12 right-div">
            <h3>- Features if you register -</h3>
            <p>If you sign up to the 'Cocktailz' you can start to like posts, comment
                on posts and even start uploading your own drinks.
            </p>
            <p>Simply click on register below and join the community!</p>
            <button class="btn sign-up-btn" href="/templates/account/signup.html">Register now!</button>
        </div>
    </div>
</div>

{% endblock %}